--maxwidth 120
--semicolons never
--indentcase true
--xcodeindentation enabled
--wraparguments before-first
--wrapcollections before-first
--wrapconditions before-first
--wrapparameters before-first

--header "{file}\nThis Source Code Form is subject to the terms of the Mozilla Public\nLicense, v. 2.0. If a copy of the MPL was not distributed with this\nfile, You can obtain one at https://mozilla.org/MPL/2.0/."
